@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
  body {
    font-family: 'Poppins',sans-serif;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .limit-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }
  .bg-gradient{
    background-image: repeating-linear-gradient(45deg,#6fa6d6,#6fa6d6 33px,transparent 0,transparent 41px,#f18d9b 0,#f18d9b 74px,transparent 0,transparent 82px);
  }
  .active{
    background-color: #fff;
    padding: 1rem 0;
    color: #333!important;
  }

  .loader {
    border: 16px solid #f3f3f3;
   /* Light grey */
    border-top: 16px solid #3498db;
   /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  .no-scroll{
    overflow: hidden;
  }
  .facebook-btn> div > div:last-child {
    text-align: center!important;
  }
  .facebook-btn> div{
    display: inline-flex!important;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
 
}
