.mySwiper2 {
width: 100%;
height: 300px;
margin-left: auto;
margin-right: auto; 
}

.swiper-slide-1 {
background-size: cover;
background-position: center;
}

.mySwiper2 {
height: 80%; 
}

.mySwiper3 {
height: 20%;
width: 100%;
box-sizing: border-box;
padding-top: 10px;
}

.mySwiper3 .swiper-slide {
width: 25%;
height: 100%;
opacity: 0.4;
}

.mySwiper3 .swiper-slide-thumb-active {
opacity: 1;
}

.swiper-slide img {
display: block;
width: 100%;
height: 100%;
object-fit: cover;
}

// TAB

.tab-active{
    border-bottom: 3px solid black!important;
}