#footer{
    background-color: #222529;
    color: #A8A8A8;
    padding: 90px 60px;
    font-size: 13px;
}

#footer .footer__subscribe, .subscribe-social{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subscribe-content{
    width: 25%;
}
.subscribe-sent{
    padding: 0 30px;
    width: 50%;
}
.subscribe-sent input, .subscribe-sent button{
    border: none;
    outline: none;
}
.subscribe-sent input{
    border-radius: 20px 0 0 20px;
    padding: 10px 30px; 
    width: 70%;
}
.subscribe-sent button{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #ff7272;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
}
.subscribe-social, .footer__nav__list .row a,#footer .footer__title {
    color: white;
}
.visit-instagram, .visit-twitter ,.visit-facebook {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}
.visit-instagram:hover{
    background-color: #734638;
} 
.visit-twitter:hover{
    background-color: #1b9ccf;
} 
.visit-facebook:hover{
    background-color: #39558f;
}
.visit-instagram, .visit-twitter{
    margin-right: 20px;
}
.footer__bottom{
    margin-top: 5%;
}

#footer .footer__bottom, .footer__right__top{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.footer__contact{
    flex: 1;
}
.footer__right{
    flex: 5;
}
.footer__nav__list{
    display: flex;
    justify-content: space-between;
}
.footer__nav__list div:nth-child(2){
    margin-left: 30px;
}
.row{
    display: flex;
    flex-direction: column;    
}


.footer__right__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-top: 5%;
    border-top: 1px solid #313438;
}